$primary-color : #1677ff;
$light-primary-color : rgba(22, 119, 255, 0.067);

$dark-gray : #595959;
$light-gray1 : #8c8c8c;
$light-gray2 : #bfbfbf;
$light-gray3 : #d9d9d9;
$light-gray4 : #f0f0f0;
$white: #fff;