@import "../variables";

.ant-breadcrumb-link {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    color: $blue !important;

    .dark & {
        color: $blue-text !important;
    }

    a {
        color: $light-text-muted !important;

        .dark & {
            color: $text-muted !important;
        }

        &:hover {
            background-color: transparent;
        }
    }
}

.custom-breadcrumbs {
    li {
        display: flex;
        color: $light-text-muted !important;

        .dark & {
            color: $text-muted !important;
        }
    }
}

.current-breadcrumb {
    a {
        color: $blue !important;

        .dark & {
            color: $blue-text !important;
        }
    }
}