@import "../variables";

.header-container {
    .ant-layout-header {
        display: flex;
        align-items: center;
        background-color: $white;
        height: 64px;
        padding: 0px;
        line-height: 64px;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 20px -10px;
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    .ant-btn-icon {
        display: flex;
        align-items: center;
        color: $primary-color;

        .exit-icon {
            color: $dark-gray !important;
        }
    }
}

.title-container {
    background-color: $white;
    
}   

.page-title {
    text-align: start;
    padding: 15px 15px 0px 15px;
}